# Capper Machine Edge Service Configuration

# Device IP
QUBOT_IP=192.168.2.113

# Machine Configuration
MACHINE_ID=capper

# NATS Server Configuration
# Comma-separated list of NATS server URLs
NATS_SERVERS=nats://100.109.131.12:4222,nats://100.109.131.12:4223,nats://100.109.131.12:4224
