# Pescador PipQuBot Machine Edge Service Configuration

# Device connection
QUBOT_IP=192.168.2.113
SATORIUS_PORT=/dev/ttyUSB0

# Machine Configuration
MACHINE_ID=pescador-pipqubot

# NATS Server Configuration
# Comma-separated list of NATS server URLs
NATS_SERVERS=nats://100.109.131.12:4222,nats://100.109.131.12:4223,nats://100.109.131.12:4224
